<div class="container" style=" display: flex; justify-content: center; align-items: center; min-height: 100vh;">
  <div class="card text-bg-light mb-3" style="max-width: 50rem;">
    <div class="card-header">Añadir Medicamento</div>
    <div class="card-body">
      <div>
        <form [formGroup]="formulario" (ngSubmit)="addMedicamento()">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Nombre medicamento</label>
                <input formControlName="nombremedicamento" class="form-control" placeholder="Nombre medicamento">
                <span *ngIf="formulario.get('nombremedicamento')?.hasError('required') && formulario.get('nombremedicamento')?.touched" class="text-danger">El campo es <strong>obligatorio</strong></span>
              </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputAddress">Marca</label>
              <input formControlName="marca" type="text" class="form-control" placeholder="Marca">
              <span *ngIf="formulario.get('marca')?.hasError('required') && formulario.get('marca')?.touched" class="text-danger">El campo es <strong>obligatorio</strong></span>
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress">Lote</label>
              <input formControlName="lote" type="text" class="form-control" placeholder="Lote">
              <span *ngIf="formulario.get('lote')?.hasError('required') && formulario.get('lote')?.touched" class="text-danger">El campo es <strong>obligatorio</strong></span>
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress2">Unidad de Medida</label>
              <input formControlName="unidadmedida" type="text" class="form-control" placeholder="Unidad de Medida">
              <span *ngIf="formulario.get('unidadmedida')?.hasError('required') && formulario.get('unidadmedida')?.touched" class="text-danger">El campo es <strong>obligatorio</strong></span>
            </div>
             </div>
             
             <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress2">Precio</label>
                <input formControlName="precio" type="number" class="form-control" placeholder="Precio">
                <span *ngIf="formulario.get('precio')?.hasError('required') && formulario.get('precio')?.touched" class="text-danger">El campo es <strong>obligatorio</strong></span>
              </div>
              <div class="form-group col-md-6">
                <label for="inputAddress2">Cantidad</label>
                <input formControlName="cantidad" type="number" class="form-control" placeholder="Cantidad">
                <span *ngIf="formulario.get('cantidad')?.hasError('required') && formulario.get('cantidad')?.touched" class="text-danger">El campo es <strong>obligatorio</strong></span>
              </div>
              <div class="row mt-2 text-center">
                <div class="col-lg-6">
                  <button [routerLink]="['/list-medicamento']" routerLinkActive="router-link-active" type="button" class="btn btn-secondary btn-block ms-2">Volver</button>
                </div>
                <div class="col-lg-4">
                  <button [disabled]="formulario.invalid" type="submit" class="btn btn-primary ms-2">Añadir</button>
                </div>
              </div>
            </div>
          </form>
    </div>
    </div>
  </div>
</div>
