<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario Login</title>
    <link rel="stylesheet" href="login.component.css">
  </head>
  <body>
    <form action="#" method="post">
    <section class="form-login">
      <h5>Bienvenido a HEALX</h5>
      <input class="controls" type="text" name="usuario" value="" placeholder="Usuario" required>
      <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña" required>
      <input routerLink="/inventory" class="buttons" type="submit" name="" value="Ingresar" >
      <p><a href="#">¿Olvidastes tu Contraseña?</a></p>

    </section>
    </form>
    <video muted autoplay loop>
      <source src="../../../assets/img/video/fondovideo.mp4" type="video/mp4">
    </video>

  </body>
</html>

